Source: ngcp-schema
Section: admin
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 8),
               libaliased-perl,
               libdata-serializer-perl,
               libdbd-mysql-perl,
               libdbix-class-encodedcolumn-perl,
               libdbix-class-schema-loader-perl,
               libfile-path-expand-perl,
               libfile-path-tiny-perl,
               libgetopt-long-descriptive-perl,
               libgtk2-gladexml-simple-perl,
               liblog-log4perl-perl,
               libmoosex-fileattribute-perl,
               libmoosex-nonmoose-perl,
               libmoosex-singleton-perl,
               libparse-debianchangelog-perl,
               libperl5i-perl,
               libquantum-superpositions-perl,
               libregexp-common-email-address-perl,
               libregexp-common-net-cidr-perl,
               libregexp-common-perl,
               libregexp-common-time-perl,
               libregexp-ipv6-perl,
               libsipwise-base-perl (>= 1.002),
               libstrictures-perl,
               libtemplate-plugin-xml-perl,
               libtest-fatal-perl,
               libtest-xml-simple-perl,
               libthrowable-perl,
               libxml-libxml-simple-perl,
               libxml-simple-perl,
               libxml-simpleobject-libxml-perl,
               libxml-simpleobject-perl,
               pdl,
               perl-doc,
               wml
Standards-Version: 3.9.4
Homepage: http://sipwise.com/

Package: ngcp-schema
Architecture: all
Depends: ${misc:Depends}
Description: TODO
 TODO
